# https://npm.github.io/publishing-pkgs-docs/publishing/the-npmignore-file.html

# Exclude other VCS tracking files.
# Defaults already include: CVS .hg .svn
.#*
.bzr

# Exclude hidden and temp Mac and Windows files.
# Defaults already include: .DS_Store ._*
*.LCK
*.TMP
Thumbs.db
_notes
_vti_*
*~

# Exclude IDE files.
  # Eclipse
/.buildpath
/.project
/.settings
  # JetBrains IDEs
/.idea
  # Komodo
/*.kpf
  # NetBeans
/nbproject
/netbeans
  # Visual Studio Code
/.vscode

# Exclude NPM and Yarn files.
# Defaults already include: node_modules
/npm-debug.log
/yarn.lock
/yarn-debug.log

# Prevent these additional files from being published.
.editorconfig
.eslintignore
.eslintrc
.travis.yml
/coverage
/test
/dist/.gitkeep
